[Unit]
Description=My Script
After=network.target
[Service]
ExecStart=/usr/share/drk/post-install.sh
[Install]
WantedBy=default.target



"Handlers": {
    "mimeTypes": {
    "application/msword": {
        "action": "useSystemDefault",
        "ask": false
    }
    },
    "schemes": {
    "mailto": {
        "action": "useHelperApp",
        "ask": true | false,
        "handlers": [{
        "name": "Gmail",
        "uriTemplate": "https://mail.google.com/mail/?extsrc=mailto&url=%s"
        }]
    }
    },
    "extensions": {
    "pdf": {
        "action": "useHelperApp",
        "ask": true | false,
        "handlers": [{
        "name": "Adobe Acrobat",
        "path": "/usr/bin/acroread"
        }]
    }
    }
}